{
  "plugins": [
    "transform-class-properties",
    "add-module-exports",
    "transform-es2015-modules-umd"
  ],
  "presets": [
    [
      "env",
      {
        "targets": {
          "firefox": 54
        }
      }
    ]
  ]
}
